<a class="active item">
  Chatroom
</a>
<a class="item">
  Messages
</a>
<div class="right menu">
  
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
        <div class="menu">
        <% if !user_signed_in? %>
          <%= link_to 'Login', new_user_session_path, class: "item" %>
        <% else %>
          <%= link_to 'Sign-out', destroy_user_session_path,class: "item", method: :delete %>
        <% end %>
        </div>
    </div>
    <% if !user_signed_in? %>
    <div class="item">
      <%= link_to 'Login', new_user_session_path, class: "ui primary button" %>
      <!-- <%= link_to "Sign up", new_user_registration_path %> -->
     </div>
     <% end %>
  
</div>